name: Github actions

on:
  push:
  schedule:
    - cron: '0 2 * * 1'

jobs:
  Build:

    name: build

    strategy:
      fail-fast: false
      matrix:
        image_type: [old, stable, trunk]
        build_type: [Debug, Release]

    runs-on: ubuntu-latest

    container: ghcr.io/mehdichinoune/debian-gfortran-testing:${{ matrix.image_type }}

    steps:
    - uses: actions/checkout@v2
    - name: Configuring
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DPFUNIT_DIR=/opt/pfunit/PFUNIT-4.1/cmake
    - name: Building
      run: make -C build -j$(nproc)
    - name: Testing
      run: |
        cd build
        ctest -j $(nproc) --output-on-failure
